# Give everyone ownership for everything expections listed below
* @wundergraph/Cosmo @wundergraph/Router

# Protect the CODEOWNERS file
/.github/CODEOWNERS @StarpTech

/admission-server/ @JivusAyrus @StarpTech @thisisnithin
/cdn-server/ @JivusAyrus @StarpTech @thisisnithin
/cli/ @endigma @JivusAyrus @StarpTech @jensneuse @endigma
/composition/ @Aenimus @JivusAyrus @StarpTech
/composition-go/ @Aenimus @JivusAyrus @StarpTech @jensneuse
/connect/ @Aenimus @JivusAyrus @StarpTech @jensneuse @endigma
/connect-go/ @Aenimus @JivusAyrus @StarpTech @jensneuse @endigma
/controlplane/ @JivusAyrus @wilsonrivera @StarpTech @thisisnithin
/graphqlmetrics/ @Noroth @StarpTech @miklosbarabas
/helm/ @Noroth @StarpTech @miklosbarabas
/infrastructure/ @Noroth @StarpTech @miklosbarabas
/keycloak/ @JivusAyrus @wilsonrivera @StarpTech @thisisnithin
/otelcollector/ @Noroth @StarpTech @miklosbarabas
/playground/ @wundergraph/Router @thisisnithin @StarpTech
/proto/ @JivusAyrus @wilsonrivera @StarpTech @endigma
/protographic/ @Noroth @StarpTech @endigma
# Same owner for router and tests to avoid requesting too many reviewers
/router/ @Noroth @devsergiy @StarpTech @jensneuse @endigma
/router-tests/ @Noroth @devsergiy @StarpTech @jensneuse @endigma
/router-plugin/ @Noroth @StarpTech @endigma @devsergiy
/shared/ @Aenimus @JivusAyrus @StarpTech @thisisnithin
/studio/ @JivusAyrus @wilsonrivera @StarpTech @thisisnithin
# Cosmo Streams / EDFS
/router/pkg/pubsub @alepane21 @StarpTech @jensneuse