node_modules
.husky
.idea
.vscode
**/*.env
**/*.env.*
!**/*.env.example
.auto.tfvars
# docker volumes
**/_docker
tsconfig.tsbuildinfo
#lerna
lerna-debug.log
.DS_Store
/demo/cmd/subscriptiontest/subscriptiontest
.github/scripts/keycloak-22.0.4/**
.github/scripts/keycloak-22.0.4.zip
/router-tests/cmd/config-validator/router-configs/**