---
version: "3.8"
name: cosmo
services:

  keycloak:
    # On the public repo
    image: ghcr.io/wundergraph/cosmo/keycloak:${DC_KEYCLOAK_VERSION:-latest}
    build:
      context: keycloak
      dockerfile: Dockerfile
      cache_from:
        - ghcr.io/wundergraph/cosmo/keycloak:buildcache
      args:
        GITHUB_SHA: ${GITHUB_SHA:-latest}
        GITHUB_REF: ${GITHUB_REF:-latest}

  otelcollector:
    # On the public repo
    image: ghcr.io/wundergraph/cosmo/otelcollector:${DC_OTELCOLLECTOR_VERSION:-latest}
    build:
      context: otelcollector
      dockerfile: Dockerfile
      cache_from:
        - ghcr.io/wundergraph/cosmo/otelcollector:buildcache
      args:
        GITHUB_SHA: ${GITHUB_SHA:-latest}
        GITHUB_REF: ${GITHUB_REF:-latest}

  router:
    image: ghcr.io/wundergraph/cosmo/router:${DC_ROUTER_VERSION:-latest}
    build:
      context: .
      dockerfile: router/Dockerfile
      cache_from:
        - ghcr.io/wundergraph/cosmo/router:buildcache
      args:
        GITHUB_SHA: ${GITHUB_SHA:-latest}
        GITHUB_REF: ${GITHUB_REF:-latest}

  controlplane:
    image: ghcr.io/wundergraph/cosmo/controlplane:${DC_CONTROLPLANE_VERSION:-latest}
    build:
      context: .
      dockerfile: controlplane/Dockerfile
      cache_from:
        - ghcr.io/wundergraph/cosmo/controlplane:buildcache
      args:
        GITHUB_SHA: ${GITHUB_SHA:-latest}
        GITHUB_REF: ${GITHUB_REF:-latest}

  studio:
    image: ghcr.io/wundergraph/cosmo/studio:${DC_STUDIO_VERSION:-latest}
    build:
      context: .
      dockerfile: studio/Dockerfile
      cache_from:
        - ghcr.io/wundergraph/cosmo/studio:buildcache
      args:
        GITHUB_SHA: ${GITHUB_SHA:-latest}
        GITHUB_REF: ${GITHUB_REF:-latest}
