go 1.22.0

toolchain go1.22.8

use (
	./aws-lambda-router
	./composition-go
	./demo
	./graphqlmetrics
	./router
	./router-tests
)

// Two dirs up
// replace github.com/wundergraph/graphql-go-tools/v2 => ../../graphql-go-tools/v2

// One dir up
//replace github.com/wundergraph/graphql-go-tools/v2 => ../graphql-go-tools/v2

//replace github.com/wundergraph/astjson => ../astjson
