# yaml-language-server: $schema=./pkg/config/config.schema.json

# See pkg/config/config.go for the full list of configuration options.
# This file is used to debugging purposes only.

version: '1'

execution_config:
  file:
    path: './__schemas/config.json'
    # watch: true

log_level: debug

watch_config:
  enabled: true
  interval: '10s'

  startup_delay:
    enabled: false
    maximum: '10s'

plugins:
  enabled: true

engine:
  max_concurrent_resolvers: 1024
  debug:
    report_websocket_connections: true
    report_memory_usage: true

events:
  providers:
    nats:
      - id: default
        url: 'nats://localhost:4222'
      - id: my-nats
        url: 'nats://localhost:4222'
    kafka:
      - id: my-kafka
        brokers:
          - 'localhost:9092'
    redis:
      - id: my-redis
        urls:
          - 'redis://localhost:6379/2'
