# yaml-language-server: $schema=./pkg/config/config.schema.json

# See pkg/config/config.go for the full list of configuration options.
# This file is used for the demo environment

version: "1"

events:
  providers:
    nats:
      - id: default
        url: "nats://localhost:4222"
      - id: my-nats
        url: "nats://localhost:4222"
    kafka:
      - id: my-kafka
        brokers:
          - "localhost:9092"
    redis:
      - id: my-redis
        urls:
        - "redis://localhost:6379/2"

execution_config:
  file:
   path: /Users/milindadias/Work/cosmo/router-tests/testenv/testdata/configWithPlugins.json

plugins:
  enabled: true

#traffic_shaping:
#  all:
#    retry:
#      enabled: false
#
#access_logs:
#  enabled: true
#  router:
#    fields:
#      - key: req_error
#        value_from:
#          expression: request.error
#

#npx wgc subgraph update application -n milindatesting --label team=A