# yaml-language-server: $schema=./pkg/config/config.schema.json

# See pkg/config/config.go for the full list of configuration options.
# This file is used for the demo environment

version: "1"

mcp:
  enabled: true
  server:
    port: "5025"
  storage:
    provider_id: "mcp"
  graph_name: my-graph

storage_providers:
  file_system:
    - path: "operations"
      id: "mcp"

events:
  providers:
    nats:
      - id: default
        url: "nats://localhost:4222"
      - id: my-nats
        url: "nats://localhost:4222"
    kafka:
      - id: my-kafka
        brokers:
          - "localhost:9092"