@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 142 71% 45%;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --gray-50: 240, 37%, 98%;
    --gray-100: 240, 37%, 96.1%;
    --gray-200: 240, 37%, 91.4%;
    --gray-300: 240, 37%, 84.9%;
    --gray-400: 240, 37%, 76.1%;
    --gray-500: 240, 37%, 65.1%;
    --gray-600: 240, 37%, 51%;
    --gray-700: 240, 37%, 34.9%;
    --gray-800: 240, 37%, 17.5%;
    --gray-850: 240, 37%, 14.9%;
    --gray-900: 240, 37%, 10%;
    --gray-950: 240, 37%, 5.1%;

    --chart-primary: var(--primary);
    --chart-primary-gradient: 200, 100%, 90%;
  }

  .dark {
    --background: 240 37% 10%;
    --foreground: 210 40% 98%;

    --muted: 240, 37%, 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 242 29% 17%;
    --popover-foreground: 210 40% 98%;

    --card: 242 39% 14%;
    --card-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 240 14% 34%;

    --primary: 200 98% 39%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 238 24% 23%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 85.7% 97.3%;

    --success: 142 76% 36%;
    --success-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;

    --chart-primary-gradient: 200, 100%, 15%;
  }
}

@layer utilities {
  .scrollbar-custom {
    @apply transition-colors scrollbar-thin scrollbar-thumb-stone-300 scrollbar-thumb-rounded-md hover:scrollbar-thumb-stone-400 dark:scrollbar-thumb-secondary dark:hover:scrollbar-thumb-muted;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply scrollbar-custom bg-background text-foreground;
  }
}

.animation {
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(10px, 0, 0);
  }
}
