{{ if .Values.jobs.deactivateOrganization.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ include "controlplane.fullname" . }}-deactivate-organization-{{ .Values.jobs.deactivateOrganization.id }}}-{{ now | unixEpoch }}"
  labels:
    {{- include "controlplane.labels" . | nindent 4 }}
  annotations:
    # Run the job after installing the helm chart
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    # Support for k14s.io. This annotation ensure that the job is run after the postgresql, keycloak and redis deployment
    kapp.k14s.io/change-rule.postgres: "upsert after upserting cosmo.apps.postgresql.wundergraph.com/deployment"
    kapp.k14s.io/change-rule.keycloak: "upsert after upserting cosmo.apps.keycloak.wundergraph.com/deployment"
    kapp.k14s.io/change-rule.redis: "upsert after upserting cosmo.apps.redis.wundergraph.com/deployment"
spec:
  backoffLimit: 10
  parallelism: 1
  # 2 days
  ttlSecondsAfterFinished: 172800
  template:
    metadata:
      name: "{{ include "controlplane.fullname" . }}-deactivate-organization"
      labels:
        {{- include "controlplane.labels" . | nindent 8 }}
    spec:
      restartPolicy: OnFailure
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: deactivate-organization
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "controlplane.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: KC_REALM
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: keycloakRealm
            - name: KC_LOGIN_REALM
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: keycloakLoginRealm
            - name: KC_API_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: keycloakApiUrl
            - name: KC_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: keycloakAdminUser
            - name: KC_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: keycloakAdminPassword
            - name: KC_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: keycloakClientId

            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: databaseUrl
            {{- if .Values.configuration.databaseTlsCert }}
            - name: DB_TLS_CERT
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: databaseTlsCert
            {{- end }}
            {{- if .Values.configuration.databaseTlsCa }}
            - name: DB_TLS_CA
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: databaseTlsCa
            {{- end }}
            {{- if .Values.configuration.databaseTlsKey }}
            - name: DB_TLS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: databaseTlsKey
            {{- end }}

            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: redisHost
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "controlplane.fullname" . }}-configmap
                  key: redisPort
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: redisPassword
            {{- if .Values.configuration.redisTlsCert }}
            - name: REDIS_TLS_CERT
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: redisTlsCert
            {{- end }}
            {{- if .Values.configuration.redisTlsCert }}
            - name: REDIS_TLS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: redisTlsKey
            {{- end }}
            {{- if .Values.configuration.redisTlsCert }}
            - name: REDIS_TLS_CA
              valueFrom:
                secretKeyRef:
                  name: {{ include "controlplane.secretName" . }}
                  key: redisTlsCa
            {{- end }}

            - name: ORGANIZATION_SLUG
              value: "{{ .Values.jobs.deactivateOrganization.slug }}"
            - name: ORGANIZATION_ID
              value: "{{ .Values.jobs.deactivateOrganization.id }}"
            - name: ORGANIZATION_DEACTIVATION_REASON
              value: "{{ .Values.jobs.deactivateOrganization.reason }}"
          args:
            - "/app/dist/bin/deactivate-org.js"
{{- end }}
