---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "controlplane.fullname" . }}-secret
  annotations:
    # Support for k14s.io. This annotation will produce a redeployment when the secret changes.
    kapp.k14s.io/versioned: ""
  labels:
    {{- include "controlplane.labels" . | nindent 4 }}
stringData:
  databaseUrl: "{{ .Values.configuration.databaseUrl }}"
  clickhouseDsn: "{{ .Values.configuration.clickhouseDsn }}"
  clickhouseMigrationDsn: "{{ .Values.configuration.clickhouseMigrationDsn }}"
  jwtSessionSecret: "{{ .Values.global.controlplane.jwtSecret }}"
  prometheusApiUrl: "{{ .Values.global.prometheus.apiUrl }}"
  keycloakAdminUser: "{{ .Values.global.keycloak.adminUser }}"
  keycloakAdminPassword: "{{ .Values.global.keycloak.adminPassword }}"