diff --git a/index.js b/index.js
index 33778b5539b7fcd7a1e99474a4ecb1745fdfe508..c1520ca11267fc4726ea8b10fe89c8386a2d6e8f 100644
--- a/index.js
+++ b/index.js
@@ -1,6 +1,10 @@
 "use strict";
 module.exports = inquire;

+// Note: This code is already present in the repository here:
+// https://github.com/protobufjs/protobuf.js/blob/master/lib/inquire/index.js
+// However the problem is that the build process is not working so it has not gotten released
+
 /**
  * Requires a module only if available.
  * @memberof util
@@ -9,9 +13,29 @@ module.exports = inquire;
  */
 function inquire(moduleName) {
     try {
-        var mod = eval("quire".replace(/^/,"re"))(moduleName); // eslint-disable-line no-eval
-        if (mod && (mod.length || Object.keys(mod).length))
-            return mod;
-    } catch (e) {} // eslint-disable-line no-empty
-    return null;
+        if (typeof require !== "function") {
+            return null;
+        }
+        var mod = require(moduleName);
+        if (mod && (mod.length || Object.keys(mod).length)) return mod;
+        return null;
+    } catch (err) {
+        // ignore
+        return null;
+    }
 }
+
+/*
+// maybe worth a shot to prevent renaming issues:
+// see: https://github.com/webpack/webpack/blob/master/lib/dependencies/CommonJsRequireDependencyParserPlugin.js
+// triggers on:
+// - expression require.cache
+// - expression require (???)
+// - call require
+// - call require:commonjs:item
+// - call require:commonjs:context
+
+Object.defineProperty(Function.prototype, "__self", { get: function() { return this; } });
+var r = require.__self;
+delete Function.prototype.__self;
+*/
\ No newline at end of file
