---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "router.fullname" . }}
  annotations:
    # Support for k14s.io. This annotation will produce a redeployment when the configmap changes.
    kapp.k14s.io/versioned: ""
  labels:
    {{- include "router.labels" . | nindent 4 }}
data:
  config.yaml: |-
    # User-supplied common configuration:
    {{- if .Values.commonConfiguration }}
    {{- .Values.commonConfiguration | nindent 4 }}
    {{- end }}
  logLevel: "{{ .Values.configuration.logLevel }}"
  devMode: "{{ .Values.configuration.devMode }}"
  listenAddress: "0.0.0.0:{{ .Values.service.port }}"
  controlplaneUrl: "{{ .Values.configuration.controlplaneUrl }}"
  otelCollectorUrl: "{{ .Values.configuration.otelCollectorUrl }}"
  graphqlMetricsCollectorUrl: "{{ .Values.configuration.graphqlMetricsCollectorUrl }}"
  cdnUrl: "{{ .Values.configuration.cdnUrl }}"
  routerConfigPath: "{{ .Values.configuration.routerConfigPath }}"
  prometheusEnabled: "{{ .Values.configuration.prometheus.enabled }}"
  {{ if .Values.configuration.prometheus.enabled }}
  prometheusListenAddr: "0.0.0.0:{{ .Values.configuration.prometheus.port }}"
  prometheusPath: "{{ .Values.configuration.prometheus.path }}"
  {{- end }}
