apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "router.fullname" . }}
  annotations:
    # Support for k14s.io. This annotation will form a group to coordinate deployments with kapp.
    kapp.k14s.io/change-group: "cosmo.apps.router.wundergraph.com/deployment"
  labels:
    {{- include "router.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- with .Values.deploymentStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "router.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        # Roll deployments when this config changes. Name doesn't matter, just needs to be unique.
        checksum/config: {{ include (print $.Template.BasePath "/config-map.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "router.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "router.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
      {{- if .Values.initContainers }}
      {{- range $key, $value := .Values.initContainers }}
        - name: "{{ $key }}"
          {{- toYaml $value | nindent 10 }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "router.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            {{- if .Values.extraEnvVars }}
            {{- toYaml .Values.extraEnvVars | nindent 12 }}
            {{- end }}
            - name: DEV_MODE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: devMode
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: logLevel
            - name: LISTEN_ADDR
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: listenAddress
            - name: CONTROLPLANE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: controlplaneUrl
            - name: GRAPHQL_METRICS_COLLECTOR_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: graphqlMetricsCollectorUrl
            - name: DEFAULT_TELEMETRY_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: otelCollectorUrl
            - name: FEDERATED_GRAPH_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: federatedGraphName
            - name: GRAPH_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "router.fullname" . }}
                  key: graphApiToken
          {{ with .Values.probes.liveness }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{ with .Values.probes.readiness }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
