receivers:
  otlp:
    protocols:
      grpc:
        endpoint: '0.0.0.0:4317'
        auth:
          authenticator: jwtauthextension
      http:
        endpoint: '0.0.0.0:4318'
        auth:
          authenticator: jwtauthextension

processors:
  attributes/from_auth_context:
    actions:
      - key: wg.organization.id
        from_context: auth.organization_id
        action: insert
      - key: wg.federated_graph.id
        from_context: auth.federated_graph_id
        action: insert
  batch:
    send_batch_size: 10000
    send_batch_max_size: 20000
    timeout: 15s

exporters:
  clickhouse:
    endpoint: ${CLICKHOUSE_ENDPOINT}
    timeout: 10s
    database: cosmo
    traces_table_name: otel_traces
    metrics_table_name: otel_metrics
    ttl_days: 30
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s

extensions:
  health_check:
    path: /health
    endpoint: 0.0.0.0:13133
  jwtauthextension:
    secret: ${OTEL_INGEST_JWT_SECRET}

service:
  extensions: [health_check, jwtauthextension]
  pipelines:
    metrics:
      receivers: [otlp]
      # Order is important here. Otherwise, the attributes processor will not be able to read the attributes from the auth context.
      processors: [attributes/from_auth_context, batch]
      exporters: [clickhouse]
    traces:
      receivers: [otlp]
      # Order is important here. Otherwise, the attributes processor will not be able to read the attributes from the auth context.
      processors: [attributes/from_auth_context, batch]
      exporters: [clickhouse]
  telemetry:
    metrics:
      level: ${PROMETHEUS_LEVEL}
      address: ${PROMETHEUS_LISTEN_ADDR}
