receivers:
  otlp:
    protocols:
      grpc:
        endpoint: '0.0.0.0:4317'
        auth:
          authenticator: jwt
      http:
        endpoint: '0.0.0.0:4318'
        auth:
          authenticator: jwt

processors:
  attributes/from_auth_context:
    actions:
      - key: wg.organization.id
        from_context: auth.organization_id
        action: insert
      - key: wg.federated_graph.id
        from_context: auth.federated_graph_id
        action: insert
  batch:
    send_batch_size: 10000
    timeout: 5s
  memory_limiter:
    # percentage of memory only supported on linux
    limit_percentage: 75
    spike_limit_percentage: 25
    check_interval: 1s

exporters:
  prometheusremotewrite:
    endpoint: "${PROMETHEUS_REMOTE_ENDPOINT}"
    namespace: "cosmo"
    auth:
      authenticator: basicauth/prw
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 60s
    remote_write_queue:
      # Maximum number of batches kept in memory before dropping;
      queue_size: 1000
      # Number of consumers that dequeue batches
      num_consumers: 10
    timeout: 5s
    target_info:
      enabled: true
  clickhouse:
    endpoint: ${CLICKHOUSE_ENDPOINT}
    timeout: 10s
    database: cosmo
    traces_table_name: otel_traces
    metrics_table_name: otel_metrics
    ttl_days: 30
    sending_queue:
      queue_size: 5000
    retry_on_failure:
      enabled: true
      initial_interval: 10s
      max_interval: 30s
      max_elapsed_time: 300s

extensions:
  basicauth/prw:
    client_auth:
      username: ${PROMETHEUS_USERNAME}
      password: ${PROMETHEUS_PASSWORD}
  health_check:
    path: /health
    endpoint: 0.0.0.0:13133
  jwt:
    secret: ${OTEL_INGEST_JWT_SECRET}

service:
  extensions: [health_check, jwt, basicauth/prw]
  pipelines:
    metrics:
      receivers: [otlp]
      # Order is important here. Otherwise, the attributes processor will not be able to read the attributes from the auth context.
      processors: [attributes/from_auth_context, memory_limiter, batch]
      exporters: [prometheusremotewrite]
    traces:
      receivers: [otlp]
      # Order is important here. Otherwise, the attributes processor will not be able to read the attributes from the auth context.
      processors: [attributes/from_auth_context, memory_limiter, batch]
      exporters: [clickhouse]
