apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keycloak.fullname" . }}
  annotations:
    # Support for k14s.io. This annotation will form a group to coordinate deployments with kapp.
    kapp.k14s.io/change-group: "cosmo.apps.keycloak.wundergraph.com/deployment"
    {{- if .Values.global.postgresql.enabled }}
    # Support for k14s.io. This annotation will wait for the postgres and postgresql deployments to be ready before deploying.
    kapp.k14s.io/change-rule.postgresql: "upsert after upserting cosmo.apps.postgresql.wundergraph.com/deployment"
    {{- end }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "keycloak.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        # Roll deployments when this config changes. Name doesn't matter, just needs to be unique.
        checksum/config: {{ include (print $.Template.BasePath "/config-map.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "keycloak.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "keycloak.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        {{- tpl (.Values.initContainers | toYaml) . | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ include "keycloak.image" . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "/opt/keycloak/bin/kc.sh"
            - "start-dev"
            - "--import-realm"
            - "--health-enabled=true"
          env:
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}
                  key: adminUsername
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}
                  key: adminPassword
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}
                  key: dbUsername
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}
                  key: dbPassword
            - name: KC_DB
              valueFrom:
                configMapKeyRef:
                  name: {{ include "keycloak.fullname" . }}-configmap
                  key: db
            - name: KC_DB_URL_HOST
              valueFrom:
                configMapKeyRef:
                    name: {{ include "keycloak.fullname" . }}-configmap
                    key: host
            - name: KC_DB_URL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "keycloak.fullname" . }}-configmap
                  key: database
            - name: KC_DB_SCHEMA
              valueFrom:
                configMapKeyRef:
                  name: {{ include "keycloak.fullname" . }}-configmap
                  key: schema
          volumeMounts:
            - mountPath: /opt/keycloak/data/import/realm.json
              name: realm-config-volume
              readOnly: true
              subPath: realm.json
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            {{ if .Values.probes.liveness.initialDelaySeconds }}
            initialDelaySeconds: {{ ((.Values.probes).liveness).initialDelaySeconds | default 0 }}
            {{ end }}
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            {{ if .Values.probes.readiness.initialDelaySeconds }}
            initialDelaySeconds: {{ ((.Values.probes).readiness).initialDelaySeconds | default 0 }}
            {{ end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: realm-config-volume
          configMap:
            name: {{ include "keycloak.fullname" . }}-realm
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
