name: AWS Lambda Router CI
on:
  pull_request:
    paths:
      - "aws-lambda-router/**/*"
      - "router-tests/**/*"
      - ".github/workflows/aws-lambda-router-ci.yaml"

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  CI: true
  ROUTER_REGISTRATION: false

jobs:
  build_test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          # The go install / version instructions are inside the Makefile, so we need to cache the Makefile.
          key: ${{ runner.os }}-go-${{ hashFiles('router/go.sum') }}-makefile-${{ hashFiles('Makefile') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - uses: ./.github/actions/go
        with:
          cache-dependency-path: router/go.sum

      - name: Install tools
        run: make setup-build-tools

      - name: Generate code
        run: make generate-go

      - name: Check if git is not dirty after generating files
        run: git diff --no-ext-diff --exit-code

      - name: Install dependencies
        working-directory: ./aws-lambda-router
        run: go mod download

      - name: Run linters on router
        uses: ./.github/actions/go-linter
        with:
          working-directory: ./aws-lambda-router

      - name: Test
        working-directory: ./aws-lambda-router
        run: make test

      - name: Build
        working-directory: ./aws-lambda-router
        run: make build
