name: CDN CI
on:
  pull_request:
    paths:
      - cdn-server/**/*
      - .github/workflows/cdn-ci.yaml

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  CI: true

jobs:
  build_test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/node

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run --filter ./cdn-server --filter ./cdn-server/cdn build

      - name: Lint
        run: pnpm run --filter ./cdn-server --filter ./cdn-server/cdn lint

      - name: Test
        run: pnpm run --filter ./cdn-server/cdn test
