name: wgc CI
on:
  pull_request:
    types: [opened, reopened, synchronize, closed]
    paths:
      - 'pnpm-lock.yaml'
      - 'cli/**/*'
      - 'connect/**/*'
      - 'shared/**/*'
      - 'composition/**/*'
      - '.github/workflows/cli-ci.yaml'
      - '.github/actions/cli-build/action.yml'

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  CI: true
  DO_NOT_TRACK: '1'

jobs:
  status-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Print the status commit SHA
        run: |
          echo "Action Details: ${{ github.event.action }}"

  build_test_default:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: github.event.action != 'closed'
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/node
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: pnpm --filter ./cli --filter ./connect --filter ./shared --filter ./composition --filter ./protographic install --frozen-lockfile

      - name: Generate code
        run: pnpm buf generate --template buf.ts.gen.yaml

      - name: Generate router templates
        run: pnpm --filter ./cli compile-templates

      - name: Check if git is not dirty after generating files
        run: git diff --no-ext-diff --exit-code

      - name: Build Node.js NPM Package
        run: pnpm --filter ./cli --filter ./connect --filter ./shared --filter ./composition --filter ./protographic run build

      - name: 'Build wgc binary'
        working-directory: cli
        run: bun build --compile --minify --sourcemap src/index.ts --outfile wgc

      - name: E2E test
        working-directory: cli
        run: bun test e2e

      - name: Get Coverage
        run: pnpm run --filter wgc coverage

      - name: Upload coverage to Codecov
        uses: ./.github/actions/codecov-upload-pr
        with:
          artifact-name: pr-build
          coverage-path: cli/coverage
          retention-days: 7
          codecov-token: ${{ secrets.CODECOV_TOKEN }}

  build_test:
    runs-on: ubuntu-latest
    needs: [build_test_default]
    if: github.event.action != 'closed' && always()
    steps:
      - name: 'All tests passed'
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: 'Some tests failed'
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

  after-merge:
    if: github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Print merge commit SHA
        run: |
          echo "Merge commit SHA: ${{ github.event.pull_request.merge_commit_sha }}"

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}

      - name: Download and upload coverage to Codecov
        uses: ./.github/actions/codecov-merge-upload
        with:
          artifact-name: pr-build
          coverage-path: cli/coverage
          workflow-path: .github/workflows/cli-ci.yaml
          override-commit: ${{ github.event.pull_request.merge_commit_sha }}
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
