name: Composition CI
on:
  pull_request:
    branches:
      - main
    paths:
      - "composition/**/*"
      - composition-go/**/*"
      - ".github/workflows/composition-ci.yaml"

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  CI: true

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ./.github/actions/node

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate code
        run: pnpm buf generate --template buf.ts.gen.yaml

      - name: Generate code to be embedded in Go library
        run: ./generate.sh
        working-directory:  composition-go

      - name: Check if git is not dirty after generating files
        run: git diff --no-ext-diff --exit-code

      - name: Build
        run: pnpm run --filter ./composition --filter ./connect --filter ./shared build

      - name: Test
        run: pnpm run --filter composition test
