name: Controlplane CI
on:
  pull_request:
    paths:
      - "controlplane/**/*"
      - "connect/**/*"
      - "composition/**/*"
      - ".github/workflows/cp-ci.yaml"

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

env:
  CI: true

jobs:
  build_test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    services:
      redis:
        # Docker Hub image
        image: redis:7
        credentials:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
        ports:
          - 6379:6379
      postgres:
        # Docker Hub image
        image: postgres:15
        credentials:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: changeme
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/node

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate code
        run: pnpm buf generate --template buf.ts.gen.yaml

      - name: Check if git is not dirty after generating files
        run: git diff --no-ext-diff --exit-code

      - name: Build
        run: pnpm run --filter ./controlplane --filter ./connect --filter ./shared --filter ./composition build
      - name: Test
        run: pnpm run --filter controlplane test
        env:
          DB_URL: "postgresql://postgres:changeme@localhost:5432/controlplane"
          KC_TEST_REALM: ${{secrets.KC_TEST_REALM}}
          KC_TEST_CLIENT_ID: ${{secrets.KC_TEST_CLIENT_ID}}
          KC_TEST_ADMIN_USER: ${{secrets.KC_TEST_ADMIN_USER}}
          KC_TEST_ADMIN_PASSWORD: ${{secrets.KC_TEST_ADMIN_PASSWORD}}
          KC_TEST_API_URL: ${{secrets.KC_TEST_API_URL}}

  build_push_image:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/build-push-image
        with:
          docker_username: ${{secrets.DOCKER_USERNAME}}
          docker_password: ${{secrets.DOCKER_PASSWORD}}
          docker_context: .
          dockerfile: controlplane/Dockerfile
          token: ${{secrets.GITHUB_TOKEN}}
          image_name: controlplane
          image_description: "Cosmo Controlplane"
