---
name: helm-release
run-name: helm-release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - andi/eng-5520-automate-helm-chart-releases
      - andi/helm-release-testing

permissions:
  contents: write
  pull-requests: write

env:
  CI: true
  REGISTRY: ghcr.io.github/workflows/helm-release.yaml
  RELEASE_BRANCH: andi/helm-release-testing

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          # https://github.com/googleapis/release-please-action/issues/741
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          target-branch: ${{ env.RELEASE_BRANCH }}
          token: ${{ secrets.GITHUB_TOKEN }}
          skip-github-release: false
          skip-github-pull-request: false

      - name: debug
        run: |
          echo "${{ toJSON(steps.release.outputs) }}"

      - uses: ./.github/actions/helm-release-docs-update
        if: ${{ steps.release.outputs['helm/cosmo--pr'].headBranchName }}
        with:
          working-directory: ./helm
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ steps.release.outputs['helm/cosmo--pr'].headBranchName }}

      - uses: ./.github/actions/helm-release
        if: ${{ steps.release.outputs['helm/cosmo--release_created'] }}
        with:
          working-directory: ./helm
          registry: ${{ env.REGISTRY }}
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          make-target: publish-cosmo-chart

      - uses: ./.github/actions/helm-release-docs-update
        if: ${{ steps.release.outputs['helm/cosmo/charts/router--pr'].headBranchName }}
        with:
          working-directory: ./helm
          github-token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ steps.release.outputs['helm/cosmo/charts/router--pr'].headBranchName }}

      - uses: ./.github/actions/helm-release
        if: ${{ steps.release.outputs['helm/cosmo/charts/router--release_created'] }}
        with:
          working-directory: ./helm
          registry: ${{ env.REGISTRY }}
          registry-username: ${{ github.actor }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          make-target: publish-router-chart
