name: Terraform CI
on:
  pull_request:
    paths:
      - "infrastructure/**/*"

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: cache tflint plugin directory
        uses: actions/cache@v4
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7

      - uses: terraform-linters/setup-tflint@v4
        name: Setup TFLint
        with:
          tflint_version: v0.50.3

      - name: terraform init
        run: terraform init

      - name: init tflint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: terraform validate
        run: terraform validate

      - name: terraform fmt
        run: terraform fmt -check -list=false || echo "Terraform files are not formatted properly. Please run 'terraform fmt' to fix the formatting."

      - name: tflint
        run: tflint --format compact --chdir=infrastructure --recursive
